.filter {
    margin-bottom: 50px;
    .searchbar,
    select {
        border: 1px gray solid;
        border-radius: 10px;
        @include toRem(font-size, 12);
        padding: 11px 25px;            
    }
    .searchbar {
        button {
            @include toRem(font-size, 19);
            color: color(primary, base)
        }
        input {
            &:not([type="submit"]) {
                color: gray;
                width: 100%;
                &::placeholder {
                    color: gray;
                    opacity: 1; 
                }
                &::-ms-input-placeholder { 
                    color: gray;
                }
            }
        }
    }
}