.icon-grid {
    margin-bottom: 80px;
    &.carousel {
        background-color: color(gray, light);
        @media screen and (min-width: $screen-lg-min) {
            margin-top: 300px;
        }
        .container {
            padding-top: 140px;
            padding-bottom: 140px;
            position: relative;
            .grid {
                .title {
                    font-weight: 500;
                }
            }
            > .title {
                @media screen and (min-width: $screen-lg-min) {
                    background-color: color(secondary, base);
                    color: white;
                    padding: 45px 50px;
                    max-width: 500px;
                    position: absolute;
                    bottom: calc(100% - 50px);
                    left: 50px;
                    margin: 0 !important;
                    text-align: left !important;
                }
            }
        }
    }
    .container {
        @media screen and (min-width: $screen-xl-min) {
            max-width: 1140px;
            // @media screen and (min-width: $screen-xxl-min) {
            //     max-width: 1320px;
            // }                
        }        
        img {
            max-height: 90px;
        }
        .title {
            max-width: 100%;
            @include toRem(font-size, 25);
            min-height: 52px;
            padding: 0 10px;
            span {
                width: 100%;
            }
        }
        p {
            @include toRem(font-size, 18);
        }
        .grid {
            .slick-track {
                @media screen and (min-width: $screen-lg-min) {
                    gap: 22px;
                }
                display: flex;
            }
        }
    }
}