.latest-posts {
    margin-bottom: 80px;
    &:not(.variation) {
        .container {
            background-color: color(secondary, base);
            height: 520px;
            margin-bottom: -450px;
            > .title {
                color: white;
            }
        }
    }
    &.variation {
        background-color: color(gray, light);
        @media screen and (min-width: $screen-lg-min) {
            height: 440px;
            @media screen and (min-width: $screen-xxl-min) {
                height: 540px;
            }
            margin-bottom: 300px;
        }
        .container {
            > .title {
                font-weight: 300;
                justify-content: flex-end;
                > span {
                    text-align: right;
                }
            }         
        }
        .post-card { 
            &[class*="featured"] {
                @media screen and (min-width: $screen-lg-min) {
                    .inner {
                        top: -55px;
                        @media screen and (min-width: $screen-xxl-min) {
                            top: -50px;
                        }
                    }
                }
            } 
        }   
    }
    .container {
        > .title {
            padding: 48px 33px 0;
            max-width: initial;
            > span {
                max-width: 400px;
            }
        }
    }
    .posts {
        .slick-track {
            padding: 50px 0;
        }
        .post-card { 
            .inner {
                height: 450px;
                @media screen and (min-width: $screen-xxl-min) {
                    height: 550px;
                }
                .btn {
                    padding: 13px 49px;
                }
            }            
            &[class*="featured"] {
                @media screen and (min-width: $screen-lg-min) {
                    position: relative;
                    z-index: 10;
                    .inner {
                        position: relative;
                        height: 550px;
                        @media screen and (min-width: $screen-xxl-min) {
                            height: 650px;
                        }
                    }
                }
            } 
        }
    }
}