.latest-posts {
    margin-bottom: 80px;
    &:not(.variation) {
        .container {
            background-color: color(secondary, base);
            height: 520px;
            margin-bottom: -450px;
            > .title {
                color: white;
            }
        }
    }
    &.variation {
        background-color: color(gray, light);
        @media screen and (min-width: $screen-lg-min) {
            height: 340px;
            margin-bottom: 300px;
        }
        .container {
            > .title {
                font-weight: 300;
                justify-content: flex-end;
                > span {
                    text-align: right;
                }
            }         
        }
        .post-card { 
            &[class*="featured"] {
                @media screen and (min-width: $screen-xl-min) {
                    .inner {
                        top: -100px;
                    }
                }
            } 
        }   
    }
    .container {
        > .title {
            padding: 48px 33px 0;
            max-width: initial;
            > span {
                max-width: 400px;
            }
        }
    }
    .posts {
        .slick-track {
            padding: 50px 0;
        }
        .post-card { 
            &[class*="featured"] {
                @media screen and (min-width: $screen-xl-min) {
                    position: relative;
                    z-index: 10;
                    .inner {
                        position: relative;
                        box-shadow: 0px 0px 20px -10px black;
                        height: 486px;
                    }
                }
            } 
        }
    }
}