.testimonials {
    margin-bottom: 80px;
    .container {
        > .title {
            max-width: 100%;
        }
        .slick-track {
            @media screen and (min-width: $screen-lg-min) {
                gap: 22px;
            }
            display: flex;
        }
        .slick-dots {
            position: relative;
            bottom: 0;
            margin-top: 45px;
            li {
                height: 8px;
                width: 8px;                
                &[class*="active"] {
                    button {
                        background-color: color(primary, base);
                    }
                }
                button {
                    padding: 0;
                    height: 8px;
                    width: 8px;
                    border-radius: 999px;
                    background-color: rgba(0,0,0,.1);
                    &::before {
                        display: none;
                    }
                }
            }

        }
        .items {
            margin-top: 60px;
            [class*="fa-"] {
                height: 32px;
                width: 32px; 
                border-radius: 999px;
                @include toRem(font-size, 32);
                color: rgba(0,0,0,.1);
            }
            img {
                height: 32px;
                width: 32px;
                border-radius: 999px;
                object-fit: cover;
            }
            .title {
                margin-top: 29px;
                margin-bottom: 27px;
                @include toRem(font-size, 24);
                .role {
                    @include toRem(font-size, 12);
                    color: color(secondary, base);
                    margin-top: 10px;
                    font-weight: 300
                }
            }           
            .text {
                @include toRem(font-size, 19);
            } 
        }
    }
}