.single {
    .banner {
        img {
            min-width: 689px;
            object-fit: cover;
            max-height: 302px;
        }
        .container>div{
            &:last-child:not(:only-child) {
                padding: 30px 0;
                @media screen and (min-width: $screen-lg-min) {
                    padding: 30px;
                }
            }
            &:first-child:not(:only-child) {
                justify-content: flex-start !important;
            }
        }
    }
    @extend .page-template-basic-page;
}