.btn {
    display: inline-flex;
    padding: 17px 49px;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
    @include toRem(font-size, 12);
    color: white;
    border: 1px transparent solid;
    font-weight: 300;
    text-transform: uppercase;
    &.secondary {
        background-color: color(secondary, base);
        &:hover {
            background-color: transparent;
            border-color: color(secondary, base);
            color: color(secondary, base);
        }
    }
    &.primary {
        background-color: color(primary, dark);
        &:hover {
            background-color: transparent;
            border-color: color(primary, dark);
            color: color(primary, dark);
        }
    }    
    &.helper {
        text-transform: uppercase;
        background-color: color(primary, base);
        &:hover {
            background-color: transparent;
            border-color: color(primary, base);
            color: color(primary, base);
        }        
    }
    a {
        color: inherit;
        width: 100%;
    }
}

.form-group {
    position: relative;
}

section {
    position: relative;
    .container {
        > {
            .title {
                @include toRem(font-size, 36);
                max-width: 418px;
            } 
            .text {
                @include toRem(font-size, 18);
            }            
        }
    }
}

.wp-block-embed {
    &.is-type-video {
        margin-bottom: 80px;
        .wp-block-embed__wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            iframe {
                width: 100%;
                max-width: 790px;
                height: 440px;
            }
        }
    }
}

.grid {
    margin: 0 -12px -12px;
    gap: 30px;
    @media screen and (min-width: $screen-md-min) {
        gap: 30px 0;
    }
}

.pagination {
    margin: 80px auto 0;
    gap: 10px;
    .page-numbers {
        min-width: 36px;
        height: 36px;
        border: 1px lighten($color: color(primary, base), $amount: 50%) solid;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include toRem(font-size, 12);
        font-weight: 300;
        color: lighten($color: color(primary, base), $amount: 50%);
        &.current {
            color: white;
            background-color: color(primary, base);
        }
    }
}